html{
  scroll-behavior: smooth;
}

*{
  margin: 0;
  padding: 0;
}

body{
  margin: 0;
}

li{
  text-decoration: none;
  list-style: none;
}

a{
  text-decoration: none;
}

.blog-line {
  width: 370px;
  border: 2px solid var(--color-brand-gray);
  margin-top: 40px;
}