.customers{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-image: url(/appolly/img/Background-customers.png);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  height: 876px;
  font-family: 'Josefin';
  @media screen and (max-width: $bp-tablet) {
    height: 746px;
  }
  @media screen and (max-width: $bp-mobile) {
    height: 588px;
  }

  &__title{
    font-weight: 700;
    font-size: 31.25px;
    line-height: 47.25px;
    color: var(--color-brand-white);
    text-transform: uppercase;
    margin-top: 120px;
    margin-bottom: 23px;
    @media screen and (max-width: $bp-tablet) {
      margin-bottom: 18px;
    }
    @media screen and (max-width: $bp-mobile) {
      font-weight: 600;
      font-size: 25px;
      line-height: 37.5px;
      margin-top: 60px;
    }
  }

  &__parag{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--color-brand-white);
    margin-bottom: 60px;
    @media screen and (max-width: $bp-tablet) {
      margin-bottom: 40px;
    }
    @media screen and (max-width: $bp-mobile) {
      width: 300px;
      margin-bottom: 32px;
    }
  }

  &__parag span{
    @media screen and (max-width: $bp-mobile) {
      display: none;
    }
  }

  &__swiper{
    margin: 0;
    

    &__container{
      padding: 0;
          @media screen and (max-width: $bp-tablet) {
            width: 640px;
            height: 360px;
          }
          @media screen and (max-width: $bp-mobile) {
            width: 520px;
          }
    }

    &__wrapper{
    width: 1202px;
    height: 436px;
    margin-bottom: 60px;
    }

    &__slide{
      width: 770px!important;
      height: 305px;
      border-radius: 10px;
      background-color: var(--color-brand-white);
      box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.1);
      padding-top: 40px;
      @media screen and (max-width: $bp-tablet) {
        width: 450px!important;
        height: 250px;
        padding-top: 23px;
      }
      @media screen and (max-width: $bp-mobile) {
        width: 343px;
        height: 250px;
        padding-top: 20px;
      }

      &__photo{
        width: 96px!important;
        height: 96px!important;
        border-radius: 50px;
        margin-bottom: 20px!important;
        @media screen and (max-width: $bp-tablet) {
          width: 50px !important;
          height: 50px !important;
          margin-bottom: 12px!important;
        }
      }

      &__name{
        font-weight: 700;
        font-size: 31.25px;
        line-height: 47.25px;
        text-transform: uppercase;
        color: var(--color-brand-black);
        @media screen and (max-width: $bp-tablet) {
          font-weight: 600;
          font-size: 25px;
          line-height: 37.5px;
        }
        @media screen and (max-width: $bp-mobile) {
          font-weight: 600;
          font-size: 25px;
          line-height: 37.5px;
        }
      }

      &__position{
        font-size: 20px;
        font-weight: 600;
        line-height: 30px;
        text-transform: uppercase;
        color: var(--color-brand-black);
        margin-bottom: 8px;
        @media screen and (max-width: $bp-tablet) {
          font-weight: 400;
          font-size: 16px;
          line-height: 24px;
          margin-bottom: 18px;
        }
      }

      &__parag{
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: var(--color-brand-gray);
        margin: 0px 62px 0px 61px;
        @media screen and (max-width: $bp-tablet) {
          margin: 0px 38px 0px 38px;
        }
        @media screen and (max-width: $bp-mobile) {
          margin: 0px 18px 0px 9px;
        }
      }

      &__parag span{
        @media screen and (max-width: $bp-tablet) {
          display: none;
        }
      }
    }

    &__pagination{
      cursor: pointer;

      .swiper-pagination-bullet{
        background: var(--color-brand-white)!important;
        width: 16px;
        height: 16px;
      }
      
      .swiper-pagination-bullet-active{
        background: var(--color-brand-blue)!important;
        border: 2px solid var(--color-brand-white);
        height: 14px;
        width: 14px;
      }
    }
  }
}