.features{
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 1710px;
  background-image: url(/img/Background-features.png);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  font-family: "Josefin";
  @media screen and (max-width: $bp-tablet) {
    height: 1366px;
  }
  @media screen and (max-width: $bp-mobile) {
    height: 2230px;
  }

   &__title{
    font-weight: 700;
    font-size: 31.25px;
    line-height: 47.25px;
    text-align: center;
    text-transform: uppercase;
    color: var(--color-brand-white);
    margin-top: 120px;
    @media screen and (max-width: $bp-mobile) {
      font-weight: 600;
      font-size: 25px;
      line-height: 37.5px;
      margin-top: 60px;
    }
  }

  &__parag{
    width: 601px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: var(--color-brand-white);
    margin-top: 18px;
    margin-bottom: 60px;
    @media screen and (max-width: $bp-tablet) {
      width: 450px;
    }
    @media screen and (max-width: $bp-mobile) {
      width: 300px;
      margin-bottom: 32px;
    }
  }

  &__parag span{
    @media screen and (max-width: $bp-mobile) {
      display: none;
    }
  }

  &__container{
    display: flex;
    flex-direction: column;
    @media screen and (max-width: $bp-mobile) {
      justify-content: center;
      align-items: center;
    }
  }

  &__top-cont{
    display: flex;
    flex-direction: row;
    gap: 485px;
    margin: 120px 0px 173.5px 0px;
    @media screen and (max-width: $bp-tablet) {
      margin: 77px 0px 25px 0px;
    gap: 240px;
    }
    @media screen and (max-width: $bp-mobile) {
      flex-direction: column;
      margin: 0;
      margin-bottom: 324px;
      gap: 40px;
    }
  }

  &__chat{
    color: var(--color-brand-white);
    text-align: center;
    @media screen and (max-width: $bp-mobile) {
      margin-bottom: 40px;
    }

    &__img{
      margin-bottom: 22px;
      @media screen and (max-width: $bp-tablet) {
        margin-bottom: 30px;
      }
    }

    &__title{
      font-weight: 600;
      font-size: 25px;
      line-height: 37.5px;
      text-transform: uppercase;
      margin-bottom: 18px;
      @media screen and (max-width: $bp-tablet) {
        font-size: 20px;
        line-height: 30px;
      }
    }

    &__parag{
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
    }
  }

  &__unlimFeatures{
    color: var(--color-brand-white);
    text-align: right;
    @media screen and (max-width: $bp-mobile) {
      text-align: center;
    }

    &__img {
      margin-bottom: 22px;
      @media screen and (max-width: $bp-tablet) {
        margin-bottom: 30px;
      }
    }

    &__title {
      font-weight: 600;
      font-size: 25px;
      line-height: 37.5px;
      text-transform: uppercase;
      margin-bottom: 18px;
      @media screen and (max-width: $bp-tablet) {
        font-size: 20px;
        line-height: 30px;
      }
    }

    &__parag {
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
    }
  }

  &__versions{
    color: var(--color-brand-white);
    text-align: left;
    @media screen and (max-width: $bp-mobile) {
      text-align: center;
    }

    &__img {
      margin-bottom: 22px;
      @media screen and (max-width: $bp-tablet) {
        margin-bottom: 30px;
      }
    }

    &__title {
      font-weight: 600;
      font-size: 25px;
      line-height: 37.5px;
      text-transform: uppercase;
      margin-bottom: 18px;
      @media screen and (max-width: $bp-tablet) {
        font-size: 20px;
        line-height: 30px;
      }
    }

    &__parag {
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
    }
  }

  &__bottom-cont{
    display: flex;
    flex-direction: row;
    gap: 485px;
    margin: 173.5px 0px 123px 0px;
    @media screen and (max-width: $bp-tablet) {
      margin: 25px 0px 59px 0px;
      gap: 250px;
    }
    @media screen and (max-width: $bp-mobile) {
      flex-direction: column;
      margin: 0;
      margin-top: 324px;
      gap: 50px;
    }
  }

  &__design{
    color: var(--color-brand-white);
    text-align: right;
    @media screen and (max-width: $bp-mobile) {
      text-align: center;
    }

  &__img {
    margin-bottom: 22px;
      @media screen and (max-width: $bp-tablet) {
        margin-bottom: 30px;
      }
  }

  &__title {
    font-weight: 600;
    font-size: 25px;
    line-height: 37.5px;
    text-transform: uppercase;
    margin-bottom: 18px;
      @media screen and (max-width: $bp-tablet) {
        font-size: 20px;
        line-height: 30px;
      }
  }

  &__parag {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }
  }

  &__graphics{
    color: var(--color-brand-white);
    text-align: left;
    @media screen and (max-width: $bp-mobile) {
      text-align: center;
      margin-bottom: 59px;
    }

  &__img {
    margin-bottom: 22px;
      @media screen and (max-width: $bp-tablet) {
        margin-bottom: 30px;
      }
  }

  &__title {
    font-weight: 600;
    font-size: 25px;
    line-height: 37.5px;
    text-transform: uppercase;
    margin-bottom: 18px;
      @media screen and (max-width: $bp-tablet) {
        font-size: 20px;
        line-height: 30px;
      }
  }

  &__parag {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }
  }

  &__support{
    color: var(--color-brand-white);
    text-align: center;

  &__img {
    margin-bottom: 22px;
      @media screen and (max-width: $bp-tablet) {
        margin-bottom: 30px;
      }
  }

  &__title {
    font-weight: 600;
    font-size: 25px;
    line-height: 37.5px;
    text-transform: uppercase;
    margin-bottom: 18px;
      @media screen and (max-width: $bp-tablet) {
        font-size: 20px;
        line-height: 30px;
      }
  }

  &__parag {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }
  }

  &__app-img{
    position: relative;
    top: -1074px;
    left: 314px;
    width: 555px;
    height: 905px !important;
    @media screen and (max-width: $bp-tablet) {
      top: -739px;
      left: 277px;
      width: 310px;
      height: 600px !important;
    }
    @media screen and (max-width: $bp-mobile) {
      position: absolute;
      width: 380px;
      height: 710px !important;
      top: 3160px;
      left: auto;
    }
  }
}