.footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 542px;
  background-color: var(--color-brand-black);
  font-family: 'Josefin';
  @media screen and (max-width: $bp-tablet) {
    height: 438px;
  }
  @media screen and (max-width: $bp-mobile) {
    height: 1010px;
  }

  &__container{
    display: flex;
    margin-top: 235px;
    @media screen and (max-width: $bp-tablet) {}
    margin-top: 135px;
    @media screen and (max-width: $bp-mobile) {
      flex-direction: column;
      margin-top: 220px;
    }
  }

  &__logo{
    margin-right: 66px;
    color: var(--color-brand-white);
    @media screen and (max-width: $bp-tablet) {
      margin-right: 24px;
    }
    @media screen and (max-width: $bp-mobile) {
      margin-right: 0;
      margin-bottom: 60px;
    }

    &__title{
      font-weight: 700;
      font-size: 31.25px;
      line-height: 47.25px;
      text-transform: uppercase;
      margin-bottom: 2px;
      @media screen and (max-width: $bp-tablet) {
        margin-bottom: 7px;
      }
      @media screen and (max-width: $bp-mobile) {
        margin-bottom: 0;
      }
    }

    &__parag{
      width: 334px;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 38px;
      @media screen and (max-width: $bp-tablet) {
        width: 213px;
        margin-bottom: 30px;
      }
      @media screen and (max-width: $bp-mobile) {
        width: 334px;
        margin-bottom: 38px;
      }
    }

    &__parag span{
      @media screen and (max-width: $bp-tablet) {
        display: none;
      }
      @media screen and (max-width: $bp-mobile) {
        display: block;
      }
    }

    &__social {
      display: flex;
      align-items: center;
      gap: 30.5px;
      @media screen and (max-width: $bp-tablet) {
        gap: 19px;
      }
      @media screen and (max-width: $bp-mobile) {
        gap: 30px;
      }

      &__icon {
        background: transparent;
        border: none;
        cursor: pointer;
        transition: filter .2s;

        &:hover {
          filter: invert(34%) sepia(81%) saturate(1199%) hue-rotate(220deg) brightness(89%) contrast(105%);
        }
      }
    }
  }

  &__nav{
    margin-right: 246px;
    color: var(--color-brand-white);
    @media screen and (max-width: $bp-tablet) {
      margin-right: 115px;
    }
    @media screen and (max-width: $bp-mobile) {
      margin-right: 0;
      margin-bottom: 60px;
    }

    &__title{
      font-weight: 600;
      font-size: 25px;
      line-height: 37.5px;
      text-transform: uppercase;
      margin-bottom: 11px;
      @media screen and (max-width: $bp-tablet) {
        font-size: 20px;
        line-height: 30px;
        margin-bottom: 13px;
      }
      @media screen and (max-width: $bp-mobile) {
        font-size: 25px;
        line-height: 37.5px;
        margin-bottom: 11px;
      }
    }

    &__list{
      display: flex;
      flex-direction: column;
      gap: 12px;
      @media screen and (max-width: $bp-mobile) {
        gap: 18px;
      }

      &__link{
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: var(--color-brand-white);
        transition: color .2s;

        &:hover{
          color: var(--color-brand-blue);
        }
      }
    }
  }

  &__news{
    color: var(--color-brand-white);

    &__title{
      font-weight: 600;
      font-size: 25px;
      line-height: 37.5px;
      text-transform: uppercase;
      margin-bottom: 11px;
      @media screen and (max-width: $bp-tablet) {
        font-size: 20px;
        line-height: 30px;
        margin-bottom: 13px;
      }
      @media screen and (max-width: $bp-mobile) {
        font-size: 25px;
        line-height: 37.5px;
        margin-bottom: 11px;
      }
    }

    &__parag{
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 33px;
      @media screen and (max-width: $bp-tablet) {
        margin-bottom: 30px;
      }
      @media screen and (max-width: $bp-mobile) {
        margin-bottom: 33px;
      }
    }

    &__form{
      width: 369px;
      height: 50px;
      @media screen and (max-width: $bp-tablet) {
        width: 213px;
      }
      @media screen and (max-width: $bp-mobile) {
        width: 343px;
      }
    }

    &__input{
      width: 369px;
      height: 50px;
      padding-left: 12px;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color: var(--color-brand-black);
      @media screen and (max-width: $bp-tablet) {
        width: 213px;
        padding-left: 15px;
        font-weight: 300;
        font-size: 12.8px;
        line-height: 12.8px;
      }
      @media screen and (max-width: $bp-mobile) {
        width: 343px;
        padding-left: 17px;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
      }

      &__button{
        position: relative;
        right: -89%;
        top: -50px;
        width: 52px;
        height: 46px;
        border: none;
        border-radius: 4px;
        background-color: var(--color-brand-blue);
        cursor: pointer;
        transition: background-color .3s;
        @media screen and (max-width: $bp-tablet) {
          right: -82%;;
        }
        @media screen and (max-width: $bp-mobile) {
          right: -89%;
        }

        &:hover{
          background-color: var(--color-brand-gray);
        }
      }
    }
  }

  &__vector{
    width: 1167px;
    margin-top: 65.5px;
    margin-bottom: 18.5px;
    border: 1px solid var(--color-brand-white);
    @media screen and (max-width: $bp-tablet) {
      width: 688px;
      margin-top: 56px;
      margin-bottom: 18px;
    }
    @media screen and (max-width: $bp-mobile) {
      width: 343px;
      margin-top: 60px;
      margin-bottom: 20px;
    }
  }

  &__copyright{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--color-brand-white);
    @media screen and (max-width: $bp-mobile) {
      font-weight: 300;
      font-size: 12.8px;
      line-height: 12.8px;
    }
  }
}