.header{
  position: absolute;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  justify-items: center;
  align-items: center;
  height: 114px;
  width: 100%;
  margin-top: 35px;
  font-family: "Josefin";


  &__top{
    display: flex;
    justify-content: space-between;
    max-width: 1170px;
    width: 100%;
    // gap: 627px;
    @media screen and (max-width: $bp-tablet){
      min-width: 668px;
      width: 100%;
    }
    @media screen and (max-width: $bp-mobile) {
      display: none;
    }
  }

  &__contacts{
    display: flex;
    gap: 47px;
    flex-shrink: 0;

    &__email{
      display: flex;
      align-items: center;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color: var(--color-brand-white);
      transition: filter .3s;

      &__icon{
        margin-right: 18px;
      }

      &:hover{
        filter: invert(100%);
      }
    }

    &__tel{
      display: flex;
      align-items: center;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color: var(--color-brand-white);
      transition: filter .3s;
      
      &__icon {
        margin-right: 18px;
      }
      
      &:hover {
        filter: invert(100%);
      }
    }
  }

  &__social{
    display: flex;
    gap: 30px;

    &__icon{
      width: 18px;
      height: 18px;
      border: none;
      background: none;
      transition: filter .3s;
      cursor: pointer;

      &:hover{
        filter: invert(100%);
      }
    }
  }

  
  &__nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1170px;
    width: 100%;
    height: 60px;
    border-radius: 5px;
    background-color: var(--color-brand-white);
    @media screen and (max-width: $bp-tablet) {
      max-width: 688px;
      width: 100%px;
    }
    @media screen and (max-width: $bp-mobile) {
      max-width: 343px;
      width: 100%;
      height: 40px;
    }
    
    &__burger{
      display:none;
      width: 0;
      height: 0;
      border: none;
      background: none;
      @media screen and (max-width: $bp-tablet) {
        display: block;
        justify-content: start;
        width: 18px;
        height: 16px;
        position: relative;
        left: 16px;
        cursor: pointer;
      }
      @media screen and (max-width: $bp-mobile) {
        width: 24px;
        height: 24px;
      }
    }

    &__list{
      display: flex;
      justify-items: center;
      align-items: center;
      gap: 40px;
      @media screen and (max-width: $bp-mobile) {
        gap: 20px;
      }

      &.left{
        margin-left: 52px;
      }
    }

    &__link{
      font-weight: 600;
      font-size: 20px;
      line-height: 30px;
      text-transform: uppercase;
      color: var(--color-brand-black);
      text-underline-offset: 0.02em;
      transition: color .3s,
      text-decoration .3s,
      text-underline-offset .3s;
      
      &:hover{
        color: var(--color-brand-blue);
        text-decoration: underline 0.08em var(--color-brand-blue);
        text-underline-offset: 0.4em;
      }
      @media screen and (max-width: $bp-tablet) {
         display: none;
      }
    }

  &__logo{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 200px;
    width: 100%;
    height: 90px;
    // height: 100%;
    border-radius: 5px;
    background-color: var(--color-brand-white);
    @media screen and (max-width: $bp-mobile) {
      max-width: 100px;
      width: 100%;
      height: 60px;
    }
  }

  &__button{
    width: 158px;
    height: 50px;
    margin-right: 5px;
    border: none;
    border-radius: 5px;
    background-color: var(--color-brand-blue);
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    text-transform: uppercase;
    color: var(--color-brand-white);
    cursor: pointer;
    transition: background-color .3s,
    color .3s,
    border .1s;
    @media screen and (max-width: $bp-mobile) {
      width: 76px;
      height: 34px;
      font-size: 10px;
      line-height: 10px;
    }

    &:hover{
      color: var(--color-brand-black);
      background-color: var(--color-brand-white);
      border: var(--color-brand-blue) solid 3px;
    }
  }
  }
}