.hero-section{
  display: flex;
  height: 1024px;
  background-image: url(/img/Background-Hero.png);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  font-family: "Josefin";

  &__container{
    position: absolute;
    top: 372px;
    left: 135px;
    width: 570px;
    height: 432px;
    background-color: var(--color-brand-white);
    @media screen and (max-width: $bp-tablet) {
      top: 447px;
      left: 40px;
      width: 356px;
      height: 318px;
    }
  }

  &__title{
    font-weight: 700;
    font-size: 48.83px;
    line-height: 49px;
    text-transform: uppercase;
    margin: 40px 23px 18px 30px;
    color: var(--color-brand-blue);
    @media screen and (max-width: $bp-tablet) {
      margin: 14px 7px 6px 18px;
      font-size: 31.25px;
      line-height: 47.25px;
    }
  }

  &__parag{
    margin: 0px 53px 52px 30px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--color-brand-gray);
    @media screen and (max-width: $bp-tablet) {
      margin: 0px 8px 23px 18px;
    }
  }

  &__bottomHeading{
    margin: 0px 251px 5px 30px;
    font-weight: 600;
    font-size: 25px;
    line-height: 37.5px;
    text-transform: uppercase;
    color: var(--color-brand-black);
    @media screen and (max-width: $bp-tablet) {
      margin: 0px 103px 5px 18px;
      font-size: 20px;
      line-height: 30px;
    }
  }

  &__button{
    margin: 0px 226px 40px 30px;
    gap: 14px;
    display: flex;
    @media screen and (max-width: $bp-tablet) {
      margin: 0px 24px 14px 18px;
    }

    &__googlePlay{
      width: 149px;
      height: 47px;
      border: none;
      background: none;
      cursor: pointer;
    }

    &__appStore{
      width: 151px;
      height: 45px;
      border: none;
      background: none;
      cursor: pointer;
    }
  }

  &__phoneImg{
    position: absolute;
    top: 216px;
    left: 873px;
    width: 646px;
    height: 725px;
    @media screen and (max-width:$bp-tablet) {
      top: 380px;
      left: 486px;
      width: 378px;
      height: 423px;
    }
  }
}

.square{
  position: absolute;
  z-index: 0;
  top: 321px;
  left: 185px;
  width: 570px;
  height: 535px;
  border: rgb(117, 114, 255) 18px solid;
  @media screen and (max-width: $bp-tablet) {
    top: 414px;
    left: 56px;
    width: 375px;
    height: 381px;
  }
}