.htu-section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 682px;
  margin-top: 60px;
  margin-bottom: 240px;
  font-family: "Josefin";
  @media screen and (max-width: $bp-tablet) {
    margin: 0;
    height: 523px;
  }
  @media screen and (max-width: $bp-mobile) {
    height: 375px;
    margin-bottom: 188px;
  }

  &__bg-container{
    position: relative;
    top: 542px;
    height: 477px;
    width: 100%;
    z-index: -10;
    flex-shrink: 0;
    background-image: url(/appolly/img/Background-htu.png);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    @media screen and (max-width: $bp-tablet) {
      top: 240px;
    }
    @media screen and (max-width: $bp-mobile) {
      top: 255px;
    }
  }

  &__title{
    font-weight: 700;
    font-size: 31.25px;
    line-height: 47.25px;
    text-transform: uppercase;
    color: var(--color-brand-white);
    margin-top: 162px;
    margin-bottom: 24px;
    @media screen and (max-width: $bp-tablet) {
      margin-top: -140px;
      margin-bottom: 18px;
    }
    @media screen and (max-width: $bp-mobile) {
      width: 281px;
      font-weight: 600;
      font-size: 25px;
      line-height: 37.5px;
      margin-bottom: 40px;
    }
  }

  &__parag{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--color-brand-white);
    margin-bottom: 60px;
    @media screen and (max-width: $bp-mobile) {
      width: 300px;
      margin-bottom: 40px;
    }
  }

  &__parag span{
    @media screen and (max-width: $bp-mobile) {
      display: none;
    }
  }


}