.team{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 1021px;
  margin-top: 120px;
  font-family: "Josefin";
  @media screen and (max-width: $bp-tablet) {
    height: 861px;
  }
@media screen and (max-width: $bp-mobile) {
  height: 2086px;
}

  &__title{
    font-weight: 700;
    font-size: 31.25px;
    line-height: 47.25px;
    color: var(--color-brand-black);
    text-transform: uppercase;
    margin-bottom: 23px;
    @media screen and (max-width: $bp-tablet) {
      margin-bottom: 18px;
    }
    @media screen and (max-width: $bp-mobile) {
      font-weight: 600;
      font-size: 25px;
      line-height: 37.5px;
    }
  }

  &__parag{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--color-brand-gray);
    margin-bottom: 60px;
    @media screen and (max-width: $bp-tablet) {
      margin-bottom: 32px;
    }
    @media screen and (max-width: $bp-mobile) {
      width: 300px;
      margin-bottom: 40px;
    }
  }

  &__parag span{
    @media screen and (max-width: $bp-mobile) {
      display: none;
    }
  }

  &__container{
    display: flex;
    gap: 30px;
    @media screen and (max-width: $bp-tablet) {
      gap: 24px;
    }
    @media screen and (max-width: $bp-mobile) {
      flex-direction: column;
      gap: 30px;
    }
  }

  &__card{
    width: 370px;
    height: 580px;
    padding-top: 29px;
    border-radius: 10px;
    box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.1);
    @media screen and (max-width: $bp-tablet) {
      width: 213px;
      height: 453px;
    }
    @media screen and (max-width: $bp-mobile) {
      width: 343px;
      height: 580px;
    }

    &__pic-wrapper{
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 66px;
    }

    &__vector{
      width: 220px;
      height: 220px;
      position: absolute;
      @media screen and (max-width: $bp-tablet) {
        width: 178px;
        height: 178px;
      }
      @media screen and (max-width: $bp-mobile) {
        width: 220px;
        height: 220px;
      }
    }

    &__img{
    position: relative;
      width: 198px;
      height: 198px;
      @media screen and (max-width: $bp-tablet) {
        width: 160px;
        height: 160px;
      }
      @media screen and (max-width: $bp-mobile) {
        width: 198px;
        height: 198px;
      }
    }

    &__name{
      font-weight: 700;
      font-size: 31.25px;
      line-height: 47.25px;
      color: var(--color-brand-black);
      text-transform: uppercase;
      margin-bottom: 2px;
      @media screen and (max-width: $bp-tablet) {
        font-weight: 600;
        font-size: 20px;
        line-height: 30px;
      }
    }

    &__position{
      font-weight: 600;
      font-size: 20px;
      line-height: 30px;
      color: var(--color-brand-gray);
      text-transform: uppercase;
      margin-bottom: 14px;
      @media screen and (max-width: $bp-tablet) {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 18px;
      }
    }

    &__parag{
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color: var(--color-brand-gray);
      margin-bottom: 40px;
      padding: 0px 22px 0px 22px;
      @media screen and (max-width: $bp-tablet) {
        padding: 0px 27px 0px 28px;
        margin-bottom: 30px;
      }
      @media screen and (max-width: $bp-mobile) {
        margin-bottom: 55px;
      }
    }

    &__parag span{
      @media screen and (max-width: $bp-tablet) {
        display: none;
      }
      @media screen and (max-width: $bp-mobile) {
        display: block;
      }
    }

    &__social{
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 31.5px;
      @media screen and (max-width: $bp-tablet) {
        gap: 14px;
      }
      @media screen and (max-width: $bp-mobile) {
        gap: 31px;
      }

      &__icon{
        background: transparent;
        border: none;
        cursor: pointer;
        transition: filter .2s;

        &:hover{
          filter: invert(34%) sepia(81%) saturate(1199%) hue-rotate(220deg) brightness(89%) contrast(105%);
        }
      }
    }

  }
}