@font-face {
  font-family: "Josefin";
  font-weight: 300;
  font-style: normal;
  src: url('/appolly/fonts/JosefinSans-Light.ttf') format('truetype');
}

@font-face {
  font-family: Josefin;
  font-weight: 400;
  font-style: normal;
  src: url('/appolly/fonts/JosefinSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: Josefin;
  font-weight: 600;
  font-style: normal;
  src: url('/appolly/fonts/JosefinSans-SemiBold.ttf') format('truetype');
}

@font-face{
  font-family: Josefin;
  font-weight: 700;
  font-style: normal;
  src: url('/appolly/fonts/JosefinSans-Bold.ttf') format('truetype');
}

@font-face {
  font-family: WorkSans;
  font-weight: 500;
  font-style: normal;
  src: url('/appolly/fonts/WorkSans-Medium.ttf') format('truetype');
}