:root{
  --color-brand-blue: rgb(89, 86, 233);
  --color-brand-black: rgb(35, 34, 51);
  --color-brand-gray: rgb(108, 108, 114);
  --color-brand-white: rgb(255, 255, 255);
  --color-brand-red: rgb(248, 148, 130);
}